@media(max-width:570px) {
    .logo__bfest img {
        max-width: 90%;
    }
    #countdown {
        display: flex;
        gap: 2rem;
        width: 90%;
    }
    .countdown__label {
        font-size: 5rem;
    }
    .countdown__label p {
        font-size: 2.2rem;
    }
    .carrusel-icons {
        padding: 3rem 0rem;
    }
    .bioseg {
        background-image: none;
    }
    .title-bioseg {
        text-align: left;
    }
    .promotion__box {
        background-image: none;
    }
    .cont-proms {
        background-image: none;
        padding: 1.5rem;
    }
    .como-llegar-fest {
        flex-direction: column;
        gap: 2rem;
    }
}